body{
    background-color:black;
}
header{
    color:mediumblue;
    text-align: center;
    font-size: 30px;
    border-radius: 30px;
    box-shadow: #8cc4d2 10px 10px 5px;
    background: -webkit-linear-gradient(top,#666,#999);
}

 h1{
    font-size: 1.6em ;
    color: magenta;
    text-align: center;
  
}
nav {
    margin-left: -33px;
    clear: both;
    font-family: cursive;
    text-align: center;
}
a{
    color: greenyellow;
    font-family: cursive;
}
img{
    width: 50%;
}
li{
    font-family: cursive;
    color: maroon;
}

aside {
    background-color: salmon;
    padding: 10px 20px -10px 0px;
    width: 30%;
   
    
}
section{
    float: right;
    background-color: darkseagreen;
    width: 68%;
    padding: 30px 0px 30px 0px;
    margin: -150px 0px 30px 0px;
    text-align: center;
}
section h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    color: red;
}
footer{
    clear: both;
    background-color: green;
   text-align: center;
}
p [pastel="rico"]{
    font-size: 3.6em;
    color: orangered;
}