#cabezeraweb{
    background-color: darkgreen;
}
#navegacion1{
    background-color: darksalmon;
}
#barralateral{
    background-color: deepskyblue;
}
#contenidoprincipal{
    background-color: lightcoral;
}
#pie{
    background-color: peru;
}